{% load static %}

<div class="bg-light mt-5">
    <div class="container">
        <div class="row " >
            <div class="col-md-3 ">
                <img style="width:100%" class="mt-3"
                    src="{% static 'fonts/logo_light.png' %}" >

                <div class="mt-3 mb-3 m-1 text-center " style="color:gray; font-size: 2.5rem;" >
                    
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-brands fa-cc-paypal"></i>
                    <i  class="fa-solid fa-credit-card"></i>
                    
                </div>
            </div>

            <div class="col-md-3  text-center" style=" color:gray " >
                <h6 class="pt-5" >Siguenos en nuestas redes <h6>
                <div style="font-size: 2.5rem; text-decoration:none; " >
                    <a style="text-decoration:none; color:gray"  href="#" > 
                        <i class="fa-brands fa-facebook"></i> </a>
                    <a style="text-decoration:none; color:gray"  href="#" > 
                        <i class="fa-brands fa-instagram"></i> </a>
                    <a style="text-decoration:none; color:gray"  href="#" > 
                        <i class="fa-brands fa-whatsapp"></i> </a>
                    <a style="text-decoration:none; color:gray"  href="#" > 
                        <i class="fa-brands fa-facebook-messenger"></i> </a>
                </div>
                
            </div>

            <div  class="col-md-2" >

                <ul class="mt-4" style="list-style:none; color:gray" >
                   
                    <li> <a style="text-decoration:none; color:gray" href="{% url 'home' %}" >Inicio  </a>  </li>
                    <li> <a style="text-decoration:none; color:gray" href="#" >Servicios  </a> </li>
                    <li> <a style="text-decoration:none; color:gray" href="{% url 'blog' %}" >Blog </a> </li>
                    <li> <a style="text-decoration:none; color:gray" href="{% url 'citas' %}" >Cita  </a> </li>
                    

                </ul>
            </div>

            <div class="col-md-4 ">
                <ul class="mt-4" style="list-style:none; color:gray" >
                    <li> <i class="fa-solid fa-tooth"></i> Centro odontologico DENTALPRO </li>
                    <li> <i class="fa-solid fa-location-dot"></i> Calle 15 #11-21 barrio los angeles
                    Edificio America piso 3   </li>
                    <li> <i class="fa-solid fa-globe"></i> www.dentalpro.com </li>
                    <li> <i class="fa-solid fa-envelope"></i> dentalpro@gmail.com </li>
                    <li> <i class="fa-solid fa-mobile"></i> +57 3123455234 </li>

                </ul>
            </div>
        </div>
    </div>
    <p class="p-3 mt-3 text-center text-muted  "  >
    &copy; 2022 DentalPro | Diseño web Harvalley </p>

</div>



  